.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15.625rem;
    height: 5.375rem;
    padding: 1.725rem;
    margin: 1.5rem;
    border-radius: 0.625rem;
    background-color: #FFFFFF;
    border: none;
    transition: border 0.2s;
    
}
.card>p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
}
.card:hover {
    border-bottom: 0.25rem outset var(--gray-500);
    border-right: 0.25rem outset var(--gray-500);
}
.icon {
    width: 40px;
    height: 40px;
}