.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15.625rem;
    height: 5.375rem;
    padding: 1.725rem;
    margin: 1.5rem;
    border-radius: 0.625rem;
    background-color: #FFFFFF;
    border: none;
    transition: border 0.2s;
    
}
.card>p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
}
.card:hover {
    border-bottom: 0.25rem outset var(--gray-500);
    border-right: 0.25rem outset var(--gray-500);
}
.icon {
    width: 40px;
    height: 40px;
}
.modalStyle {
    //position: absolute;
    background-color: rgb(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;    
}
.renderContent {
    min-width: 300px;
    background: white;
    padding: 30px;
    border: none;
    border-radius: 4px;
}